* {
    font-family: Roboto, sans-serif;
}

.body {
    margin: 0;
}

.header,
.hero-section {
    padding: 16px 200px 75px;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    gap: 16px;
}

.header > img {
    margin-right: auto;
}

.hero-section {
    display: flex;
    align-items: center;
    background-color: #1F2937;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 8px;
    margin-right: auto;
}

.hero-secondary-text,
.hero-button-text,
.header-link-text {
    color: #e5e7eb;
}

.hero-secondary-text,
.header-link-text {
    font-size: 18px;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-img {
    min-width: 350px;
    height: 200px;
}

.hero-text > button {
    align-self: flex-start;
    background-color: #3882f6;
    border: 0;
    border-radius: 5px;
    padding: 4px 18px;
}

.random-section{
    margin-bottom: 128px;
    
}

.random-title {
    text-align: center;
    margin: 48px 0;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.random-items{
    display: flex;
    justify-content: center;
    gap: 96px;
}

.random-item-one,
.random-item-two,
.random-item-three,
.random-item-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.random-items img {
    max-width: 200px;
    height: auto;
    border: 4px solid #3882f6;
    border-radius: 20px;
}

.random-item-text {
    display: flex;
    color: grey;
    font-weight: 300;
    font-size: 19px;
    max-width: 170px;
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 100px 400px;
}

.the-quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.the-author {
    font-size: 24px;
    font-weight: 700;
    text-align: end;
}

.cta-section {
    padding: 128px 300px;
}

.cta-box {
    display: flex;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 48px 128px;
    border-radius: 5px;
    align-items: center;
}

.cta-text {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.cta-button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
    padding: 4px 24px;
}

.footer {
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
    padding: 32px;
}