* {
    font-family: Roboto, sans-serif;
}

.body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    gap: 16px;
    padding: 16px 300px 75px 300px;
}

.header > img {
    margin-right: auto;
}

.hero-section {
    display: flex;
    background-color: #1F2937;
    padding: 0 300px 100px 300px;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    gap: 8px;
    margin-right: auto;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text,
.header-link-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-img {
    min-width: 350px;
    height: 200px;
}

.hero-text > button {
    align-self: flex-start;
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 5px;
    border: 0;
    padding: 4px 18px;
}